* text=auto

*.swift text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.plist text eol=lf
*.xcconfig text eol=lf
*.xcstrings text eol=lf
*.pbxproj text eol=lf
*.xcscheme text eol=lf
*.sh text eol=lf
*.rb text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.icns binary
*.icon binary
*.zip binary
*.dmg binary
